<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- keywords -->
	    <meta name="keywords" content="Auberge de jeunesse,Voyage,Reservation en ligne,Reservation d'hotel,Pratique,Location">
	    <!-- description -->
	    <meta name="description" content="SCI-Europe bénéficie d'une situation géographique supérieure en France, d'un transport pratique, d'un environnement confortable, d'un service attentionné et fournit des informations touristiques locales détaillées. Choisissez l'auberge de jeunesse SCI et profitez pleinement de votre voyage à Paris ! !">
	    <!-- petit icon -->
	    <link rel="shortcut icon" href="" />
        <title>SCI-EUROPE/Activité</title>
        <link rel="stylesheet" href="../../../css/app.css" />
        <script src="../../../js/jquery.min.js"></script>
        <script src="../../../js/SuperSlide.js"></script>
        <script src="../../../js/app.js"></script>
        <script src="../../../js/echarts.js"></script>
        <script src="../../../js/jquery.magnific-popup.js"></script>
    </head>
    <body style="filter: gray;">
        <div class="header headers">        
            <div class="header-container">            
                <a class="logo" href="/"><img src="#" alt="SCI-EUROPE"></a>            
                <div class="top-user-panel">          
                    <a href="/web-member-orderQuery" class="user-login">Gestion de commande</a>       
                    |                           
                    <a href="/web-index-register" class="user-login"><img src="../../../images/market/user-icon.png">Inscription</a>  
                    | 
                    <a href="/web-index-login" class="user-login">Connexion</a>                                 
                    <div class="lang">                    
                    | 
                        <a href="index.html" class="fr"><img src="../../../images/market/FR.jpg" alt="Francais">FR</a>
                    |
                        <a href="/en-web-index-index" class="cn"><img src="../../../images/market/CN.gif" alt="中文">CN</a>  
                    </div>             
                </div>            
                <ul class="top-nav">                 
                    <li><a href="http://localhost/site/siteWeb/data/view/info/about.html">Présentation</a></li>                               
                    <li><a href="http://localhost/site/siteWeb/data/view/info/reserver.html">Réservation</a></li>                                              
                    <li><a href="http://localhost/site/siteWeb/data/view/info/act.html">Voyage/Activité</a></li>             
                    <li><a href="http://localhost/site/siteWeb/data/view/info/contact.html">Contact</a></li>                
                </ul>        
            </div>    
        </div> 

        <div class="exhibition-page exhibition-page-bg">
            <div class="exhibition-banner">
                <img src="../../images/plan-presentation.jpeg">
            </div>
            <div class="exhibition-wrap w1080">
                <div class="exhibition-con clearfix">
                    <div class="exhibition-l fl">
                        <div class="public-introduction">
                            <h2>Présentation </h2>
    
                            <p>						
                            </p>
                            <p>
                                <span style="font-size: 16px;">
                                    Bonjour et bienvenue à notre auberge de jeunesse ! 
                                    Nous sommes ravis de vous accueillir dans notre établissement convivial et abordable, conçu spécialement pour les voyageurs à petit budget et les personnes qui souhaitent rencontrer de nouvelles personnes du monde entier.
                                </span>
                                <br>
                            </p>
                            <p>
                                各青年旅舍有专门的信息台，互相介绍客源。还参加各种旅游博览会。仅德国巴州青年旅舍协会，每年的宣传费就达30万欧元。
                            </p>
                            <p>
                                青年旅舍是世界上最支持环保的住宿服务组织之一，根据国际市场调查显示，青年旅舍会员参与环保活动之百分比，高出一般青年少年数倍。如德国、新西兰、澳大利亚等国的青年旅舍组织，也是本国生态可持续发展项目的参与者。
                            </p>
                            <p style="text-align: center;">
                                <img src="/upload/image/20180414/1523720016777094.jpg" title="1523720016777094.jpg" alt="悉尼海港青旅.jpg">
                            </p>
                            <p>
                                <span style="font-size: 16px; text-align: center;">
                                    在西欧先进国家，很多青年旅舍附设有环保教育中心或举办与环保有关的活动，并设有专门的以环保教育为主题的环保青年旅舍。
                                </span>
                            </p>
                            <p>
                                <br>
                            </p>
                            <p>
                            </p>
                            
                        </div>
                    </div>
                    <div class="exhibition-r fr">
                        <!-- <ul class="introduction-nav">
    
                            <li class="active">SCI-EUROPE</li>
                            
                            <li>
                                <a href="web-topic-view-id-209">海外青年旅舍概况</a>
                            </li>
                            <li class="active">
                                <a href="web-topic-view-id-213">海外青年旅舍的发展情况</a>
                            </li>
                            
                        </ul> -->
                        <div class="exhibition-r-block1">  <!--<a href="https://weidian.com/?userid=1693834616" target="_blank"><img src="/data/images/2020-08-19/5f3cb08134015.jpg"></a>-->
                            <a href="/web-hostel-index" class="exhibition-r-block1-a"><b></b>旅舍预订</a>
                            <a href="/web-member-card" class="exhibition-r-block1-b"><b></b>会员卡</a>
                            <a href="/web-info-join" class="exhibition-r-block1-c"><b></b>旅舍加盟</a>
                            <a href="/web-info-join" class="exhibition-r-block1-d"><b></b>旅舍加盟</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="footer">

            <div class="footer_h">
       
               <ul class="clearfix w1080">
                   <li><a href="/web-info-about">Présentation</a></li>                               
                   <li><a href="/web-info-reserver">Réservation</a></li>                                              
                   <li><a href="/web-info-act">Voyage/Activité</a></li>             
                   <li><a href="/web-info-contact">Contact</a></li>
               </ul> 
       
            </div>
       
       
       
            <div class="w1080">
       
                <div class="footer_b clearfix">
       
                   
       
                    <div class="footer_b_r fr">
       
                        <p>E-Mail：Parisnober@gmail.com</p>
       
                        <p>167 rue de la Roquette，75011</p>
       
                        <div class="share">
       
                            <br>
                            <br>
       
                        </div>
       
                         <p class="copyright">Tous droits réservé &copy; à SCI-EUROPE<font style="vertical-align:super;font-size:50%; ">&reg;</font>&nbsp;&nbsp;</p>
       
       
       
       
                    </div>
       
                </div>
       
            </div>
       
        </div>
    </body>
</html>