<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SCI</title>
        <link rel="stylesheet" href="../../../css/app.css" />
    </head>
    <body>
        <ul class="picList" style="width: 4320px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
    
            <li style="float: left; width: 270px;">
                
                <a href="https://mp.weixin.qq.com/s/qn68T99loQJSv29a-wMgEg" target="_blank" class="pic">

                    <img src="../../images/60d14bb392a61.jpg">

                    <div class="event_text" style="display: none; opacity: 1;">

                        <span class="event_text_m">

                            <h3>大手牵小手，化身丛林探险家，一起探秘奇特的喀斯特地貌 | YHA桂林暑期夏令营</h3>

                            <i></i>

                            <p>这个夏天，和孩子一起来桂林探险，陪孩子一起成长，伴他成为一个有责任、有担当的勇气少年！</p>    
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </body>
</html>