<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- keywords -->
	    <meta name="keywords" content="Auberge de jeunesse,Voyage,Reservation en ligne,Reservation d'hotel,Pratique,Location">
	    <!-- description -->
	    <meta name="description" content="SCI-Europe bénéficie d'une situation géographique supérieure en France, d'un transport pratique, d'un environnement confortable, d'un service attentionné et fournit des informations touristiques locales détaillées. Choisissez l'auberge de jeunesse SCI et profitez pleinement de votre voyage à Paris ! !">
	    <!-- petit icon -->
	    <link rel="shortcut icon" href="" />
        <title>SCI-EUROPE/Activité</title>
        <link rel="stylesheet" href="../../../css/app.css" />
        <script src="../../../js/jquery.min.js"></script>
        <script src="../../../js/SuperSlide.js"></script>
        <script src="../../../js/app.js"></script>
        <script src="../../../js/echarts.js"></script>
        <script src="../../../js/jquery.magnific-popup.js"></script>
    </head>
    <body style="filter: gray;">
        <div class="header headers">        
            <div class="header-container">            
                <a class="logo" href="/"><img src="#" alt="SCI-EUROPE"></a>            
                <div class="top-user-panel">          
                    <a href="/web-member-orderQuery" class="user-login">Gestion de commande</a>       
                    |                           
                    <a href="/web-index-register" class="user-login"><img src="../../../images/market/user-icon.png">Inscription</a>  
                    | 
                    <a href="/web-index-login" class="user-login">Connexion</a>                                 
                    <div class="lang">                    
                    | 
                        <a href="index.html" class="fr"><img src="../../../images/market/FR.jpg" alt="Francais">FR</a>
                    |
                        <a href="/en-web-index-index" class="cn"><img src="../../../images/market/CN.gif" alt="中文">CN</a>  
                    </div>             
                </div>            
                <ul class="top-nav">                 
                    <li><a href="http://localhost/site/siteWeb/data/view/info/about.html">Présentation</a></li>                               
                    <li><a href="http://localhost/site/siteWeb/data/view/info/reserver.html">Réservation</a></li>                                              
                    <li><a href="http://localhost/site/siteWeb/data/view/info/act.html">Voyage/Activité</a></li>             
                    <li><a href="http://localhost/site/siteWeb/data/view/info/contact.html">Contact</a></li>                
                </ul>        
            </div>    
        </div> 

        <div class="exhibition-page exhibition-page-bg">
            <div class="exhibition-banner">
                <img src="../../images/plan-presentation.jpeg">
            </div>
            <div class="exhibition-wrap w1080">
                <div class="exhibition-con clearfix">
                    <div class="exhibition-l fl">
                        <div class="public-introduction">
                            <h2>Présentation </h2>
    
                            <p>						
                            </p>
                            <p>
                                <span style="font-size: 16px;">
                                    Bonjour et bienvenue à notre auberge de jeunesse ! 
                                    Nous sommes ravis de vous accueillir dans notre établissement convivial et abordable, 
                                    conçu spécialement pour les voyageurs à petit budget et les personnes qui souhaitent rencontrer de nouvelles personnes du monde entier.
                                </span>
                                <br>
                            </p>
                            <p>
                                Notre auberge de jeunesse offre une ambiance chaleureuse et détendue, 
                                avec un personnel amical et serviable toujours prêt à vous aider. 
                                Que vous soyez un voyageur en solo, un groupe d'amis ou une famille, 
                                nous avons ce qu'il vous faut pour rendre votre séjour agréable et mémorable.
                            </p>
                            <p>
                                L'une des caractéristiques clés de notre auberge de jeunesse est notre variété d'options d'hébergement. 
                                Nous proposons des dortoirs confortables avec lits superposés pour ceux qui souhaitent rencontrer de nouvelles personnes 
                                et partager des expériences de voyage. Nous disposons également de chambres privées pour ceux qui préfèrent plus d'intimité.
                            </p>
                            
                            <p>
                                <span style="font-size: 16px; text-align: center;">
                                    Nos installations sont conçues pour vous offrir tout le confort dont vous avez besoin pendant votre séjour. 
                                    Vous trouverez des espaces communs accueillants où vous pourrez vous détendre, 
                                    échanger avec d'autres voyageurs ou profiter de nos installations de divertissement, 
                                    comme une salle de jeux ou une salle commune équipée d'une télévision et d'une connexion Wi-Fi gratuite.
                                </span>
                            </p>
                            <p>
                                En ce qui concerne la localisation, notre auberge de jeunesse est idéalement située, 
                                que ce soit en plein centre-ville, à proximité des attractions touristiques, 
                                des transports en commun, des restaurants et des magasins.
                                Cela facilitera vos déplacements et vous permettra de profiter pleinement de votre destination.
                            </p>
                            <p style="text-align: center;">
                                <img src="../../images/flat-line-paris-banner-vector-18168895.jpg" title="flat-line-paris-banner.jpg" alt="pairs.jpg">
                            </p>
                            <p>
                                De plus, nous organisons régulièrement des activités sociales et des visites guidées pour 
                                vous permettre de découvrir les meilleurs sites de la région et de rencontrer d'autres voyageurs.
                                Que ce soit une balade en ville, une excursion en plein air ou une soirée à thème dans l'auberge, 
                                nous nous assurons que vous ne vous ennuierez jamais !
                            </p>
                            <p>
                                Enfin, la sécurité de nos clients est notre priorité absolue. 
                                Nous avons mis en place des mesures de sécurité pour garantir que vous vous sentiez en sécurité 
                                et à l'aise tout au long de votre séjour.
                            </p>
                            <p>
                                Nous espérons que vous apprécierez votre séjour dans notre auberge de jeunesse 
                                et que vous en garderez de merveilleux souvenirs. 
                                N'hésitez pas à nous contacter pour toute demande ou information supplémentaire. 
                                Bon séjour parmi nous !
                            </p>
                            <p>
                                <br>
                            </p>
                            <p>
                            </p>
                            
                        </div>
                    </div>
                    <div class="exhibition-r fr">
                        <!-- <ul class="introduction-nav">
    
                            <li class="active">SCI-EUROPE</li>
                            
                            <li>
                                <a href="web-topic-view-id-209">海外青年旅舍概况</a>
                            </li>
                            <li class="active">
                                <a href="web-topic-view-id-213">海外青年旅舍的发展情况</a>
                            </li>
                            
                        </ul> -->
                        <br><br><br><br><br><br>
                        <div class="exhibition-r-block1">  <!--<a href="https://weidian.com/?userid=1693834616" target="_blank"><img src="/data/images/2020-08-19/5f3cb08134015.jpg"></a>-->
                            <a href="http://localhost/site/siteWeb/data/view/info/reserver.html" class="exhibition-r-block1-a"><b></b>Réservation</a>
                            <a href="http://localhost/site/siteWeb/data/view/info/act.html" class="exhibition-r-block1-b"><b></b>Activité</a>
                            <a href="http://localhost/site/siteWeb/data/view/info/contact.html" class="exhibition-r-block1-c"><b></b>Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="footer">

            <div class="footer_h">
       
               <ul class="clearfix w1080">
                   <li><a href="/web-info-about">Présentation</a></li>                               
                   <li><a href="/web-info-reserver">Réservation</a></li>                                              
                   <li><a href="/web-info-act">Voyage/Activité</a></li>             
                   <li><a href="/web-info-contact">Contact</a></li>
               </ul> 
       
            </div>
       
       
       
            <div class="w1080">
       
                <div class="footer_b clearfix">
       
                   
       
                    <div class="footer_b_r fr">
       
                        <p>E-Mail：Parisnober@gmail.com</p>
       
                        <p>167 rue de la Roquette，75011</p>
       
                        <div class="share">
       
                            <br>
                            <br>
       
                        </div>
       
                         <p class="copyright">Tous droits réservé &copy; à SCI-EUROPE<font style="vertical-align:super;font-size:50%; ">&reg;</font>&nbsp;&nbsp;</p>
       
       
       
       
                    </div>
       
                </div>
       
            </div>
       
        </div>
    </body>
</html>