<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- keywords -->
	    <meta name="keywords" content="Auberge de jeunesse,Voyage,Reservation en ligne,Reservation d'hotel,Pratique,Location">
	    <!-- description -->
	    <meta name="description" content="SCI-Europe bénéficie d'une situation géographique supérieure en France, d'un transport pratique, d'un environnement confortable, d'un service attentionné et fournit des informations touristiques locales détaillées. Choisissez l'auberge de jeunesse SCI et profitez pleinement de votre voyage à Paris ! !">
	    <!-- petit icon -->
	    <link rel="shortcut icon" href="" />
        <title>SCI-EUROPE/Activité</title>
        <link rel="stylesheet" href="../../../css/app.css" />
        
    </head>
    <body  style="filter: gray;">
        <div class="header headers">        
            <div class="header-container">            
                <a class="logo" href="/"><img src="#" alt="SCI-EUROPE"></a>            
                <div class="top-user-panel">          
                    <a href="/web-member-orderQuery" class="user-login">Gestion de commande</a>       
                    |                           
                    <a href="/web-index-register" class="user-login"><img src="../../../images/market/user-icon.png">Inscription</a>  
                    | 
                    <a href="/web-index-login" class="user-login">Connexion</a>                                 
                    <div class="lang">                    
                    | 
                        <a href="index.html" class="fr"><img src="../../../images/market/FR.jpg" alt="Francais">FR</a>
                    |
                        <a href="/en-web-index-index" class="cn"><img src="../../../images/market/CN.gif" alt="中文">CN</a>  
                    </div>             
                </div>            
                <ul class="top-nav">                 
                    <li><a href="http://localhost/site/siteWeb/data/view/info/about.html">Présentation</a></li>                               
                    <li><a href="http://localhost/site/siteWeb/data/view/info/reserver.html">Réservation</a></li>                                              
                    <li><a href="http://localhost/site/siteWeb/data/view/info/act.html">Voyage/Activité</a></li>             
                    <li><a href="http://localhost/site/siteWeb/data/view/info/contact.html">Contact</a></li>                
                </ul>        
            </div>    
        </div>  
        <div class="news-bg" style="opacity: 0.8;">

            <div class="index_title">
                <br>
                <h2>Des Activité</h2>
    
                <p>
    
                    Des monuments historiques français 
                    vous attendent 
    
                </p>
    
            </div>
    
            <div class="picScroll" style="margin:0 auto">
    
                <div class="bd">
    
                    <a href="javascript:void(0)" class="prev"></a>
    
                    <a href="javascript:void(0)" class="next"></a>
    
                    <div class="scrollWrap">
    
                        <div class="tempWrap" style="overflow:hidden; position:relative; width:1080px">
                            
                            <ul class="picList" style="width: 4320px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
    
                                <li style="float: left; width: 270px;">
                                    
                                    <a href="https://www.louvre.fr/" target="_blank" class="pic">
    
                                        <img src="../../images/musee de louvre.jpg" style="opacity: 1;">
    
                                        <div class="event_text" style="display: none; opacity: 1;">
    
                                            <span class="event_text_m">
    
                                                <h3>ÉVADEZ-VOUS AU LOUVRE</h3>
    
                                                <i></i>
    
                                                <p>Il y a toujours une bonne raison de venir au Louvre. 
                                                    Les œuvres du palais vous étonnent, vous invitent à 
                                                    rêver, à imaginer. Il est temps de préparer votre 
                                                    visite. Besoin d’inspiration ? Parcours et visites 
                                                    guidées vous font découvrir les lieux emblématiques. 
                                                    Et au cœur de Paris, les jardins vous accueillent.</p>    
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li style="float: left; width: 270px;">
                                    <a href="https://www.paris-pantheon.fr/" target="_blank" class="pic">
                                        <img src="../../images/panthéon.jpg">
                                        <div class="event_text" style="display: none;">
                                            <span class="event_text_m">
                                                <h3>Panthéon</h3>
                                                <i></i>
                                                <p>
                                                    Sur la montagne Sainte-Geneviève à Paris, 
                                                    visitez le Panthéon, 
                                                    chef-d'œuvre de l'architecte Soufflot.
                                                </p>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li style="float: left; width: 270px;">
                                    <a href="https://pere-lachaise.com/" target="_blank" class="pic">    
                                        <img src="../../images/cimetire du pere lachaise.jpg">
                                        <div class="event_text" style="display: none;">
                                            <span class="event_text_m">
                                                <h3>Cimetière du Père-Lachaise</h3>   
                                                <i></i>
                                                <p>Le cimetière du Père-Lachaise appelé aussi 
                                                    « cimetière de l’Est », est le plus grand 
                                                    cimetière parisien et s’étend sur 43 hectares.
                                                    Il fait partie des parcs et jardins sous 
                                                    la gestion de la mairie de Paris. </p>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li style="float: left; width: 270px;">
                                    <a href="https://www.centrepompidou.fr/fr" target="_blank" class="pic">
                                        <img src="../../images/centre-pompidou.jpg">
                                        <div class="event_text">
                                            <span class="event_text_m">
                                                <h3>Centre pompidou</h3>
                                                <i></i>
                                                <p>
                                                un établissement pluridisciplinaire né de la 
                                                volonté du président Georges Pompidou, grand 
                                                amateur d'art moderne, de créer au cœur de 
                                                Paris une institution culturelle originale 
                                                entièrement vouée à la création moderne et 
                                                contemporaine où les arts plastiques voisineraient 
                                                </p>
                                            </span>
                                        </div>
                                    </a>
                                </li>   
                                <!-- 4 pièces      -->
                              
                                   
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            
    
        </div>
         <script src="../../../js/SuperSlide.js"></script>
        <script src="../../../js/jquery.min.js"></script>
        <script src="../../../js/echarts.js"></script>
        <script src="../../../js/app.js"></script>
        
    </body>
</html>