<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- keywords -->
	    <meta name="keywords" content="Auberge de jeunesse,Voyage,Reservation en ligne,Reservation d'hotel,Pratique,Location">
	    <!-- description -->
	    <meta name="description" content="SCI-Europe bénéficie d'une situation géographique supérieure en France, d'un transport pratique, d'un environnement confortable, d'un service attentionné et fournit des informations touristiques locales détaillées. Choisissez l'auberge de jeunesse SCI et profitez pleinement de votre voyage à Paris ! !">
	    <!-- petit icon -->
	    <link rel="shortcut icon" href="" />
        <title>SCI-EUROPE/Activité</title>
        <link rel="stylesheet" href="../../../css/app.css" />
        </head>
    <body  style="filter: gray;">
        <div class="header headers">        
            <div class="header-container">            
                <a class="logo" href="/"><img src="#" alt="SCI-EUROPE"></a>            
                <div class="top-user-panel">          
                    <a href="/web-member-orderQuery" class="user-login">Gestion de commande</a>       
                    |                           
                    <a href="/web-index-register" class="user-login"><img src="../../../images/market/user-icon.png">Inscription</a>  
                    | 
                    <a href="/web-index-login" class="user-login">Connexion</a>                                 
                    <div class="lang">                    
                    | 
                        <a href="index.html" class="fr"><img src="../../../images/market/FR.jpg" alt="Francais">FR</a>
                    |
                        <a href="/en-web-index-index" class="cn"><img src="../../../images/market/CN.gif" alt="中文">CN</a>  
                    </div>             
                </div>            
                <ul class="top-nav">                 
                    <li><a href="http://localhost/site/siteWeb//data/view/info/about.html">Présentation</a></li>                               
                    <li><a href="http://localhost/site/siteWeb//data/view/info/reserver.html">Réservation</a></li>                                              
                    <li><a href="http://localhost/site/siteWeb//data/view/info/act.html">Voyage/Activité</a></li>             
                    <li><a href="http://localhost/site/siteWeb//data/view/info/contact.html">Contact</a></li>                
                </ul>        
            </div>    
        </div>  
        <div class="news-bg">

            <div class="index_title">
    
                <h2>最新活动</h2>
    
                <p>
    
                    精心策划的青旅活动，期待你的参与
    
                </p>
    
            </div>
    
            <div class="picScroll" style="margin:0 auto">
    
                <div class="bd">
    
                    <a href="javascript:void(0)" class="prev"></a>
    
                    <a href="javascript:void(0)" class="next"></a>
    
                    <div class="scrollWrap">
    
                        <div class="tempWrap" style="overflow:hidden; position:relative; width:1080px">
                            
                            <ul class="picList" style="width: 4320px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
    
                                <li style="float: left; width: 270px;">
                                    
                                    <a href="https://mp.weixin.qq.com/s/qn68T99loQJSv29a-wMgEg" target="_blank" class="pic">
    
                                        <img src="../../images/60d14bb392a61.jpg">
    
                                        <div class="event_text" style="display: none; opacity: 1;">
    
                                            <span class="event_text_m">
    
                                                <h3>大手牵小手，化身丛林探险家，一起探秘奇特的喀斯特地貌 | YHA桂林暑期夏令营</h3>
    
                                                <i></i>
    
                                                <p>这个夏天，和孩子一起来桂林探险，陪孩子一起成长，伴他成为一个有责任、有担当的勇气少年！</p>    
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li style="float: left; width: 270px;">
                                    <a href="https://mp.weixin.qq.com/s/0kd7zYoyxy9yRzUWsabm1A" target="_blank" class="pic">
    
                                        <img src="../../images/60d1620c3badf.jpg>
    
                                        <div class="event_text" style="display: none;">
    
                                            <span class="event_text_m">
    
                                                <h3>为什么要去荒野？ | 青少年自我探索之旅</h3>
                                                <i></i>
                                                <p>
                                        行走山野对现在的孩子来说并非易事，
    在行走的过程不仅可以磨练意志力，
    还需要学习与伙伴更好的沟通、合作，
    在团体活动中提升自我价值感；
    行程中包含了青春期孩子关注的话题，
    我们将通过团体活动
    和青少年一起探索同伴关系，
    与家人的关系、
    与自己的关系，
    以及对未来的规划。
                                                </p>
    
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li style="float: left; width: 270px;">
                                    <a href="https://mp.weixin.qq.com/s/Yc4gMps1V37hoSaxBpmjLA" target="_blank" class="pic">
                                        <img src="../../images/60d154679ba43.jpg">
                                        <div class="event_text" style="display: none;">
                                            <span class="event_text_m">
                                                <h3>告别</h3>
                                                <i></i>
                                                <p>
                                        我们在云南昆明连心国际青年旅舍
    与伙伴一起生活整理房间、
    清洗碗筷
    节约食物、水电
    每日践行环保
    我们在奇妙的自然中
    与伙伴一起探索打开身体、
    发现自然安静独处、
    自由玩耍
    
    这个暑假
    我们爱自然、爱伙伴、爱自己
                                                </p>
                                            </span>
                                        </div>
                                </a>
                            </li>
                            <li style="float: left; width: 270px;">
                                <a href="https://mp.weixin.qq.com/s/BrO4ZgMYJ2sBCxHUyDjsgA" target="_blank" class="pic">    
                                    <img src="../../images/5f1fdb9fb7406.jpg">
                                    <div class="event_text" style="display: none;">
                                        <span class="event_text_m">
                                            <h3>青年旅舍第一批免费电子卡—送给谁？</h3>   
                                            <i></i>
                                            <p>领取来自青年旅舍的温暖和鼓励吧！</p>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li style="float: left; width: 270px;">
                                <a href="https://mp.weixin.qq.com/s/3U8-Rwms_YupUdoac5bN-w" target="_blank" class="pic">
                                    <img src="../../images/5f1fad1282aef.jpg">
                                    <div class="event_text">
                                        <span class="event_text_m">
                                            <h3>夏天的风轻轻吹着| 第44届世界青年营回顾</h3>
                                            <i></i>
                                            <p>
                                        #Be friends, Best friends#不是一句简单的口号
    是我们不同国度/地区青年间友谊的见证
                                            </p>
                                        </span>
                                    </div>
                                </a>
                            </li>        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <a href="/web-topic-view-id-299" class="all_btn">所有活动</a>
    
            <div class="w_dynamic">
    
                <div class="w1080 clearfix">
    
                    <div class="w_dynamic_l clearfix fl">
    
                        <div class="w_dynamic_l_a fl">
    
                            <h2>关注微信公众号 </h2>
    
                            <a class="yha_a_btn" style=" display:inline;float: left;" href="https://mp.weixin.qq.com/mp/homepage?__biz=MzIwMzk2MTc0OA==&amp;hid=1&amp;sn=706f5f60a25702e8b76d463649b0bfcf#wechat_redirect" target="_blank">YHA<font style="vertical-align:super;font-size:50%; ">®</font>中国</a> <a class="yha_a_btn" style=" display:inline;float: left;" href="http://mp.weixin.qq.com/mp/homepage?__biz=MzIwMzk2MTc0OA==&amp;hid=2&amp;sn=594e969930e27bbdf0a2344a042a450d&amp;scene=18#wechat_redirect" target="_blank">YHA<font style="vertical-align:super;font-size:50%; ">®</font>国际</a>
                            <a class="yha_a_btn" style=" display:inline;float: left;" href="https://mp.weixin.qq.com/mp/homepage?__biz=MzIwMzk2MTc0OA==&amp;hid=3&amp;sn=4c1fd381e4c165cc79a3a501d14e70ee&amp;devicetype=iOS11.3.1&amp;version=16060721&amp;lang=zh_CN&amp;nettype=3G+&amp;ascene=1&amp;fontScale=100&amp;pass_ticket=hxOgor01jlrNFSQTRw64uAt2IoWMjl9fyiWNcyOFEEOm9ionsDvfYCCznIrWLw24&amp;wx_header=1&amp;scene=1" target="_blank">旅行那些事</a>
    
                        </div>
    
                        <div class="w_dynamic_l_b fl">
    
                            轻松实现手机<font style="font-weight:bold;">预订旅舍、办理会员卡</font>
    
                            <br>
    
    更有旅行攻略与推介、青旅人物与故事...
    
                        </div>
    
                    </div>
    
                    <div class="tpn">
    
                        <img src="images/tpnImg.jpg">
    
                        <p>
    
                            YHA<font style="vertical-align:super;font-size:50%; ">®</font>青年旅舍<font style="vertical-align:super;font-size:50%; ">®</font>公众号
    
                        </p>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
        <script src="../../../js/jquery.min.js"></script>

        <script src="../../../js/SuperSlide.js"></script>
    
        <script src="../../../js/app.js"></script>
    
        <script src="../../../js/kuCity.js"></script>
    
        <script src="../../../js/echarts.js"></script>
    
        <script src="../../../js/laydate.dev.js"></script>
    
        <script src="../../../js/jquery.magnific-popup.js"></script>
    </body>
</html>