
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<!-- compatibilité  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- keywords -->
	<meta name="keywords" content="Auberge de jeunesse,Voyage,Reservation en ligne,Reservation d'hotel,Pratique,Location">
	<!-- description -->
	<meta name="description" content="SCI-Europe bénéficie d'une situation géographique supérieure en France, d'un transport pratique, d'un environnement confortable, d'un service attentionné et fournit des informations touristiques locales détaillées. Choisissez l'auberge de jeunesse SCI et profitez pleinement de votre voyage à Paris ! !">
	<!-- petit icon -->
	<link rel="shortcut icon" href="" />

    <title>SCI-EUROPE</title>
    
	<!-- Moteur de rendu -->
    <meta name="renderer" content="webkit">
	<!-- Interdire d'utiliser Cache de siteapp -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    
        <!--[if lte IE7]>
            <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
        <link rel="stylesheet" href="../../../css/app.css" />
     
    
    
	<script>
	var mobileAgent = new Array("iphone", "ipod", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");

	var browser = navigator.userAgent.toLowerCase(); 
	var isMobile = false; 
	for (var i=0; i<mobileAgent.length; i++)
	{

		if( browser.indexOf("ipad") != -1 && browser.indexOf("mobile") != -1 )
		{
			break;
		}
		else if( browser.indexOf(mobileAgent[i]) != -1 )
		{
			isMobile = true;
			location.href = '' ;
			break; 
		}
	}
	</script>
</head>
<body style="filter: gray;">
    <div class="header headers">        
        <div class="header-container">            
            <a class="logo" href="/">SCI-EUROPE</a>            
            <div class="top-user-panel">          
                <a href="http://localhost/site/siteWeb/data/view/client/gestion.html" class="user-login">Gestion de commande</a>       
                |                           
                <a href="http://localhost/site/siteWeb/data/view/client/inscription.html" class="user-login"><img src="../../../images/market/user-icon.png">Inscription</a>  
                | 
                <a href="http://localhost/site/siteWeb/data/view/client/login.html" class="user-login">Connexion</a>                                 
                <div class="lang">                    
                | 
                    <a href="index.html" class="fr"><img src="../../../images/market/FR.jpg" alt="Francais">FR</a>
                |
                    <a href="/en-web-index-index" class="cn"><img src="../../../images/market/CN.gif" alt="中文">CN</a>  
                </div>             
            </div>            
            <ul class="top-nav">                 
                <li><a href="http://localhost/site/siteWeb/data/view/info/about.html">Présentation</a></li>                               
                <li><a href="http://localhost/site/siteWeb/data/view/info/reserver.html">Réservation</a></li>                                              
                <li><a href="http://localhost/site/siteWeb/data/view/info/act.html">Voyage/Activité</a></li>             
                <li><a href="http://localhost/site/siteWeb/data/view/info/contact.html">Contact</a></li>                
            </ul>     
        </div>    
    </div> 
    <div style="height:117px;"></div>  

    <div class="exhibition-page exhibition-page-bg">
        <div class="exhibition-banner" id="lxzb-ditu" style="height:400px">
        </div>

        <div class="exhibition-wrap w1080">
            <div class="explain">
                <h2>SCI-EUROPE<font style="vertical-align:super;font-size:50%; ">&reg;</font></h2>
                <p>Adresse:167 Rue de la Roquette，75011 PARIS 11EME FRANCE</p>
                <p>Horaire：du lundi au Vendredi，le matin:9:00-12:30，l'après-midi:14:00-18:00（Fermé le week-end et les jours fériés） 
<br> <br>
               Tel：0763152701 <br>
               Conseils: Si vous devez annuler votre commande pendant les vacances, veuillez vous connecter directement à votre compte personnel
               </p>
         
            </div>

            <div class="exhibition-con clearfix">
                <div class="exhibition-l fl">
                    <div class="contact-headquarters">
                        <div class="contact-type">Vous pouvez nous contacter de la manière suivante</div>
                        <br/>
                        <div style="height:57px;">
                            <ul class="headquarters-nav clearfix">
                                <li class="on">Reservation</li>
                                <li>Consultation</li>
                            </ul>
                        </div>
                        <div class="headquarters-list">
                            <h3>À propos de Reservation</h3>
                            <dl>
                                <dt>Tel:</dt>
                                <dd>+33 0763152701（Français，English）</dd>
                                <dt>E-mail：</dt>
                                <dd>Parisnober@gmail.com</dd>
                                
                            </dl>
                        </div>
                        <div class="headquarters-list">
                            <h3>À propos de Consultation</h3>
                            <dl>
                                <dt>Tel:</dt>
                                <dd>+33 0763152701（Français，English）</dd>
                                <dt>E-mail：</dt>
                                <dd>lilan101@hotmail.com</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="exhibition-r fr"> 
                    <br><br><br>
                    <div class="exhibition-r-block1">  <!--<a href="https://weidian.com/?userid=1693834616" target="_blank"><img src="/data/images/2020-08-19/5f3cb08134015.jpg"></a>-->
                        <a href="http://localhost/site/siteWeb/data/view/info/reserver.html" class="exhibition-r-block1-a"><b></b>Réservation</a>
                        <a href="http://localhost/site/siteWeb/data/view/info/act.html" class="exhibition-r-block1-b"><b></b>Activité</a>
                        <a href="http://localhost/site/siteWeb/data/view/info/contact.html" class="exhibition-r-block1-c"><b></b>Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- BEGIN FOOTER -->
    <div class="footer">

        <div class="footer_h">
   
           <ul class="clearfix w1080">
               <li><a href="/web-info-about">Présentation</a></li>                               
               <li><a href="/web-info-reserver">Réservation</a></li>                                              
               <li><a href="/web-info-act">Voyage/Activité</a></li>             
               <li><a href="/web-info-contact">Contact</a></li>
           </ul> 
   
        </div>
   
   
   
        <div class="w1080">
            <div class="footer_b clearfix">
                <div class="footer_b_r fr">
                    <p>E-Mail：Parisnober@gmail.com</p>
                    <p>167 rue de la Roquette，75011</p>
                    <div class="share">
                        <br>
                        <br>
                    </div>
                     <p class="copyright">Tous droits réservé &copy; à SCI-EUROPE<font style="vertical-align:super;font-size:50%; ">&reg;</font>&nbsp;&nbsp;</p>
                </div>   
            </div>
        </div>
    </div>



 

<!-- END FOOTER -->





    <script src="js/jquery.1.12.1.min.js"></script>
    <script src="js/SuperSlide.js"></script>
    <script src="js/checkbox.js"></script>
    <script src="js/eachshow.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="//webapi.amap.com/maps?v=1.3&key=7d952eca6eb846d6925e1e81bb47a537"></script>



    <script>
    //地图初始化时，在地图上添加一个marker标记,鼠标点击marker可弹出自定义的信息窗体
    //
    var map = new AMap.Map("lxzb-ditu", {
        resizeEnable: true,
        center: [48.52,2.25],
     // center: [113.321082,23.135118],
        zoom: 18
    });
    addMarker();
    //添加点标记，并使用自己的icon
    function addMarker() {
        map.clearMap();
        var marker = new AMap.Marker({
            map: map,
            position: [48.52,2.25],
            icon: new AMap.Icon({
                size: new AMap.Size(37, 57),  //图标大小
                image: "images/exhibition/lxzb-ditu.png",
                imageOffset: new AMap.Pixel(0, 0)
            })
        });

        //实例化信息窗体
        content = [];
        content.push("我在这里");
        var infoWindow = new AMap.InfoWindow({
            isCustom: true,  //使用自定义窗体
            content: createInfoWindow(content.join("<br/>")),
            offset: new AMap.Pixel(10, -45)
        });
        infoWindow.open(map, marker.getPosition());
    }


    //构建自定义信息窗体
    function createInfoWindow(content) {
        var info = document.createElement("div");
        info.className = "info";
        // 定义中部内容
        var middle = document.createElement("div");
        middle.className = "lxzb-ditu";
        middle.innerHTML = content;
        info.appendChild(middle);

        return info;
    }


    (function(){
        $('.headquarters-nav li').click(function(){
            $('body,html').stop().animate({
                'scrollTop':$('.headquarters-list').eq($(this).index()).offset().top-60
            });
        })

        var menu=$('.headquarters-nav');//list
        var item=$('.headquarters-list');//获取到每一层楼

        var tops = $('.headquarters-nav').offset().top, pos = $('.headquarters-nav').css("position");
        $(window).scroll(function(){
            var windowSt = $(this).scrollTop();

            $('.headquarters-list').each(function(index){
                if($('.headquarters-list').eq(index).offset().top - windowSt < 180){
                    $('.headquarters-nav li').eq(index).prevAll('.on').removeClass('on');
                    // $('.headquarters-nav li').eq(index).nextAll('.on').removeClass('on');
                    $('.headquarters-nav li').eq(index).addClass('on');
                }else{
                    $('.headquarters-nav li').eq(index).removeClass('on');

                }
            })
            var scrolls = $(this).scrollTop();
            if(scrolls > tops) {

                if (window.XMLHttpRequest) {
                    $('.headquarters-nav').css({
                        position: "fixed",
                        top: 0
                    });
                } else {
                    $('.headquarters-nav').css({
                        top: scrolls
                    });
                }

            }else{
                $('.headquarters-nav').css({
                    position: pos,
                    top: tops
                });
            }
        })
    })()
</script>


</body>
</html>